header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
}

.header {
    background-color: darkslategrey;
    height: 80px;
    width: 100%;
    display: inline-block;
}

.header-logo {
    height: 70px;
    width: 120px;
    float: left;
}

.header-list {
    text-align: right;
    padding: 30px 0;
}

a {
    color: antiquewhite;
    padding: 0 30px;
}

.top-wrapper {
    background-image: url(.//imagekr/ハート石.jpg);
    background-size: cover;
    width: 100%;
    height: 400px;
}

.top-wrapper h1 {
    color: aliceblue;
    text-align: center;
    opacity: 0.8;
    padding: 150px 0;
}

main {
    background-color: lightgray;
    width: 100%;
    height: 750px;
}

.main-item {
    margin: 50px 20px;
    width: 30%;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 0px;
    left: 0px;
}

.item-link {
    position: absolute;
    top: 220px;
    left: 130px;
}

.footer-wrapper {
    background-image: url(.//imagekr/夕日.jpg);
    background-size: cover;
    width: 100%;
    height: 200px;
}

.footer-wrapper h3 {
    color: black;
    text-align: center;
    opacity: 0.8;
    padding: 50px 0;
    margin-top: 0px;
}